{% extends 'auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<header class="card-header">
    <p class="card-header-title has-text-centered">
      Login
    </p>
</header>
<div class="card-content">
    <form method="POST" action="/login">
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" name="username" placeholder="Username">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="remember">
                Remember me
              </label>
        </div>
        <div class="field">
            <button class="button is-primary is-fullwidth" type="submit">
                Login
            </button>
        </div>

        <div class="field">
            <a class="button is-link is-fullwidth" href="{{ url_for('auth.register') }}">Register new account</a>
        </div>
    </form>
</div>
{% endblock %}