<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/static/bulma-calendar.min.css">
    <style>
        .mark-complete {
            text-decoration: line-through;
            color: gray;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container" id="vue">
        <div class="column is-half is-offset-one-quarter">
            <div class="card">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/static/bulma-calendar.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>